.container {
  width: 100%;
  padding: var(--padding-xs) 0;
}

.wrapper {
  display: flex;
  align-items: center;
  gap: var(--gap-m);
}

.avatarWrapper {
  flex-shrink: 0;
}

.textareaWrapper {
  flex: 1;
  display: flex;
  align-items: center;

  textarea {
    width: 100%;
    box-sizing: border-box;
  }
}

.arrow {
  align-items: center;
  padding-left: 5px;
  cursor: pointer;
  color: var(--text-secondary);
  transition: color 0.2s ease;

  &:hover {
    color: var(--text-primary);
  }
}
