.signInForm {
  display: flex;
  flex-direction: column;
  background: var(--bg-surface);
  padding: 40px;
  border-radius: var(--radius-l);
  gap: var(--gap-m);
  width: 250px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.inputsWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--gap-m);
}

.title {
  margin: 0;
  text-align: center;
  font-size: var(--font-3xl);
  color: var(--text-primary);
}

.subtitle {
  margin: 0;
  padding: var(--padding-xs) 0;
  text-align: center;
  font-size: var(--font-m);
  color: var(--text-secondary);
}

.forgotPassword {
  text-align: center;
}

.formDivider {
  display: flex;
  align-items: center;
  gap: var(--gap-m);
  color: var(--text-secondary);
  font-size: var(--font-m);

  &::before,
  &::after {
    content: "";
    flex: 1;
    height: 2px;
    background: var(--border-divider);
  }
}
