.container {
  padding: 0;
}

.photo {
  position: relative;
  width: 40vw;
  height: 70vh;
}

.stats {
  display: flex;
  flex-direction: row;
  gap: var(--gap-l);
  color: var(--text-secondary);
  font-size: var(--font-m);
}

.stat {
  display: flex;
  align-items: center;
  gap: var(--gap-xs);
  background: none;
  color: var(--text-secondary);
  cursor: pointer;
  padding: 0;
  font-size: var(--font-m);
  transition: color 0.2s ease;

  &:hover {
    color: var(--text-primary);
  }
}
