.modal {
  width: min(800px, 80vw);
}

.container {
  padding: 0;
  position: relative;
}

.photoWrapper {
  display: flex;
  align-items: center;
  gap: var(--gap-s);
}

.photo {
  position: relative;
  flex: 1;
  height: 70vh;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-s);
}

.stats {
  display: flex;
  flex-direction: row;
  gap: var(--gap-l);
  color: var(--text-secondary);
}

.stat {
  display: flex;
  align-items: center;
  gap: var(--gap-xs);
  background: none;
  color: var(--text-secondary);
  cursor: pointer;
  padding: 0;
  font-size: var(--font-m);
  transition: color 0.2s ease;

  &:hover {
    color: var(--text-primary);
  }
}

.actions {
  display: flex;
  gap: var(--gap-s);
}

.createdAt {
  display: flex;
  align-items: center;
  font-size: var(--font-s);
  color: var(--text-secondary);
}

.arrow {
  svg {
    color: var(--text-secondary);
    transition: color 0.2s ease;
  }

  &:hover svg {
    color: var(--text-primary);
  }
}
