.loginForm {
  display: flex;
  flex-direction: column;
  background: var(--bg-surface);
  padding: 40px;
  border-radius: var(--radius-lg);
  gap: var(--gap-m);
  width: 250px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.inputsWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--gap-m);
}

.appName {
  margin: 0;
  text-align: center;
  font-size: var(--font-3xl);
  font-weight: 500;
  color: var(--text-primary);
}

.formDivider {
  border-block-start: 1.5px solid var(--border-divider);
}
