.signUp {
  display: flex;
  flex-direction: column;
  gap: var(--gap-xxl);
  max-width: 400px;
  margin: 0 auto;
  padding: 32px;
  background: var(--bg-surface);
  border-radius: var(--radius-lg);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.signUpTitle {
  margin: 0;
  font-size: var(--font-xl);
}

.signUpDescription {
  margin: 0;
  color: var(--text-secondary);
}

.fields {
  display: flex;
  flex-direction: column;
  gap: var(--gap-l);
}

.field {
  display: flex;
  flex-direction: column;
  gap: var(--gap-xs);

  label {
    font-weight: 500;
    font-size: var(--font-s);
  }
}

.buttons {
  display: flex;
  gap: var(--gap-l);
  flex-direction: column;
}
