.wrapper {
  display: grid;
  grid-template-columns: 250px 2fr 1fr;
  gap: var(--gap-xl);
  min-height: 100vh;
  min-width: 100vw;
  grid-template-areas:
    "sd prf prf"
    "sd pscr pht"
    "sd fd frnd";
  align-items: start;
}

.sidebar {
  grid-area: sd;
}
.profileBanner {
  grid-area: prf;
}
.postCreator {
  grid-area: pscr;
}
.photos {
  grid-area: pht;
}
.feed {
  grid-area: fd;
}
.friends {
  grid-area: frnd;
}
