.container {
  display: flex;
  flex-direction: column;
  gap: var(--gap-xl);
  height: 100vh;
  padding: var(--padding-l);
  background: var(--bg-card);
  box-shadow: 3px 0 6px rgba(0, 0, 0, 0.08);
}

.list {
  display: flex;
  flex-direction: column;
  gap: var(--gap-s);
}