.navigation {
  background: var(--bg-card);
  height: 100vh;
  max-height: 100%;
  box-shadow: 3px 0 6px rgba(0, 0, 0, 0.08);
  padding: var(--padding-l);
  display: flex;
  flex-direction: column;
  gap: var(--gap-xl);
}

.navigationList {
  display: flex;
  flex-direction: column;
  gap: var(--gap-s);

  button {
    width: 100%;
    display: flex;
    align-items: center;
    gap: var(--gap-m);
    justify-content: flex-start;
    transition: color 0.2s ease;

    &:hover {
      color: var(--text-primary);
    }
  }
}
